<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <connectionStrings>
        <add name="MSSQL"
             providerName="System.Data.SqlClient"
             connectionString="Data Source=localhost;Initial Catalog=school;User ID=sa;Password=Maria1987" />

        <add name="MySQL"
             providerName="MySql.Data.MySqlClient"
             connectionString="server=127.0.0.1;uid=root;pwd=M@r!@1987;database=training" />
    </connectionStrings>
</configuration>